cloudpickle==0.8.0
Cython==0.29.6
gym==0.12.1
lz4
Markdown
matplotlib
mkl-fft
mkl-random
opencv-python==4.0.0.21
pytest==4.3.1
ray==0.7.6
tensorboard==1.14.0
tensorflow-probability
yapf==0.27
numpy==1.16.0
ray[debug]
mujoco-py<2.1,>=2.0
gym[mujoco]
gym[box2d]
pandas
yattag
box2d-py==2.3.8
sklearn
seaborn
distro